In [1]:
#packages for data analysis
import numpy as np
import pandas as pd

from sklearn import svm

#packages for visusals
import matplotlib.pyplot as plt
import seaborn as sns; sns.set(font_scale=1.2)

#Allows charts to appear in the notebook
%matplotlib inline

In [4]:
recipes = pd.read_excel('Cupcakes vs Muffins.xlsx')
recipes.head()

     Type  Flour  Milk  Sugar  Butter  Egg  Baking Powder  Vanila  Salt
0  Muffin     55    28      3       7    5              2       0     0
1  Muffin     47    24     12       6    9              1       0     0
2  Muffin     47    23     18       6    4              1       0     0
3  Muffin     45    11     17      17    8              1       0     0
4  Muffin     50    25     12       6    5              2       1     0

In [ ]:
#plot out data

In [ ]:
#Pickle package
import pickle